<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewpoint" content="width=device-width, initial-scale=1" />
        <title>My Touhou Fan Page</title>
    </head>

    <body>
        <h1>My Touhou Fan Page</h1>
        Welcome to my <b>Touhou</b> Fan Page

            <p>
                Touhou is a series of top down bullet hell shooter developed by ZUN. There are currently 17 main line entries and multiple spinoffs
            </p>

        <h2>
            Story
        </h2>

             <p>
                Touhou takes place in the fictional land <b>Gensokyo</b> where magic and Yokai are commonplace. Each game's plot centers around an 'incident' which is an event that occurs from time to time when a yokai starts acting up. 
                You play as the shrine maiden <b>Reimu Hakurei</b>, magician <b>Marisa Kirisame</b>, or any other characters that may be playable to put a stop to the incident and return balance to Gensokyo.
            </p>

		<h2>
			<a href="/gameplay">Gameplay</a>
		</h2>

        <h2>
            Music
        </h2>

            <p>
                The music is easily one of the best parts of any Touhou game. ZUN has said that, in some ways, the games are an excuse to produce his music.
            </p>
    </body>

</html>


