<div id="navbar">
    <form method="post" action="welcome">
        <a href="/">Home</a>
        <a href="/gameplay">Touhou Gameplay</a>
        <input type="text" name="visitorname" />
        <button>What's you name?</button>
    </form>
</div>