<html>
    <head>
        <title>Player Scores</title>
        <%- include('header.ejs') %>
    </head>

    <body>
        <div id="mainpanel">
            <h1>
                Player Scores
            </h1>
            <h2>
                <a href="writing/">Write a post</a>
            </h2>

            <table>
                <% postset.forEach(function(bpost){ %>
                <%- include('blogpostpreview', {post: bpost}) %>
                <% }) %>
            </table>
        </div>
        <%- include('navbar.ejs') %>
    </body>
</html>