<html>
    <head>
        <title>Player Scores</title>
        <%- include('header.ejs') %>
    </head>

    <body>
        <h1>
            Player Scores
        </h1>
           
        <a href="writing/">Write a post</a>


        <%- include('navbar.ejs') %>
    </body>
</html>